/*
#04080F
#507DBC
#A1C6EA
#BBD1EA
#DAE3E5
*/

body {
    background-color: #DAE3E5;
	padding: 0;
	margin: 0;
}
h2 {
        color:#04080F;
}
.cheader {
	margin-left: 17.5%;
	/*background-color: #507DBC;*/
    background-color: #A1C6EA;
	padding: 10px;
}
.cabecalho {
	text-align: center;
    font-size: 2.5em;
	margin: 0 auto;
	display: table;
}
.titlo {
	background-color: #A1C6EA;
	width: calc(82.5% - 2px);
	height: 100%;
	float:left;
}
.sidebar {
	background-color: #BBD1EA;
	width: 17.5%;
	height: 100vh;
	float:left;
    border-right: 2px solid #93b1db;
}
.sidetext {
	text-align:center;
}
.titletext {
	margin-left: 20px;
}
#divisor {
    background-color: #93b1db;
    margin: 0;
    height:2px;
    border:0;
}
